.text {
  margin: 0;
}
.contain {
  min-width: 240px;
  min-height: 50px;
  padding: 5px;
}
.btn__contain {
  text-align: center;
  padding: 5px;
}
.btn {
  width: 90px;
  height: 36px;
  border: 2px solid transparent;
  border-radius: 4px;
  margin: 8px;
}
.change {
  composes: btn;
  background-color: rgb(95, 218, 255);
}
.delete {
  composes: btn;
  background-color: rgb(255, 65, 65);
}
