.text {
  margin: 0;
}
.contain {
  min-width: 240px;
  min-height: 50px;
  padding: 5px;
}
.btn__contain {
  text-align: center;
  padding: 5px;
}
.btn {
  cursor: pointer;
  width: 90px;
  height: 36px;
  border: 2px solid transparent;
  border-radius: 4px;
  margin: 8px;
}
.change {
  composes: btn;
  background-color: rgb(84, 200, 235);
}
.change:hover,
.change:focus,
.change:active {
  background-color: rgb(29, 167, 209);
}
.delete {
  composes: btn;
  background-color: rgb(255, 65, 65);
}
.delete:hover,
.delete:focus,
.delete:active {
  background-color: rgb(233, 33, 33);
}
.checkbox {
  cursor: pointer;
  width: 20px;
  height: 20px;
}
